body {
    font-family: 'Rock Salt', cursive;
    background-color: #DCDCDC;
    color: #FF66CC;
    }

button {
    font-family: 'Permanent Marker', cursive;
    background-color:#fe59c2 ;
    border-radius: 4px;
    border: 0;
    margin: 5px;
    color: white;
    text-align: center;
    border-radius: 15%;
}

button:hover {
    background-color: rgb(122, 36, 86);
  }

@media only screen and (max-width: 1000px){
    body {
        font-size: 150%;
 }
}

form {
    font-family: 'Permanent Marker', cursive;
    background-color:rgb(248, 246, 246);
    color: #373737;
    margin: 5px 5px 40px 5px;
    padding: 5px 5px 5px 5px;
    box-shadow:0 0 10px ;
    }

input {
    width: 100%;
}

.title {
    margin: 10px 5px 5px 5px;
    padding: 20px 5px 20px 5px;
    text-align: center;
    color: #FFA343;
    font-family: 'Rock Salt', cursive;
}

.poo {
    font-size: 40px ;
}

#sub {
    font-family: 'Rock Salt', cursive;
    color: #373737;
    padding-bottom: 50px;
}

